{% extends 'base.html' %}
 
{% block content %}

    {% for blog in blogs reversed %}

        <main role="main" class="container">
            <div class="jumbotron">

                <h4>{{ blog.title }}</h4>
                <p>{{ blog.pub_date }} <br></p>

                <a class="btn btn-sm btn-primary" href="{% url 'detail' blog.id %}" role="button"> 자세히보기 &raquo;</a>
                <br>
                <br>
                <hr>
                <br>
                <br>


            </div>
        </main>
    {% endfor %}


{% endblock %}
