{% extends 'base.html' %}
 
{% block content %}

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Write Movie</h1>
        <br>

        <form method="post" action="{% url 'chatGPT' %}">
            {% csrf_token %}
            <label for="text_input">Enter Movie(Eng):</label> <br>
            <textarea id="text_input" name="text"></textarea> <br>
            <textarea id="text_input" name="text2"></textarea> <br>
            <textarea id="text_input" name="text3"></textarea> <br>

            <button type="submit" >Submit</button>
        </form>


    </div>
</main>


{% endblock %}